
/* Item flow positioning - staggered timing and vertical offset */
.item-flow-1 { 
  animation-delay: 0s; 
  top: 0; 
}

.item-flow-2 { 
  animation-delay: 2s; 
  top: -5px; 
}

.item-flow-3 { 
  animation-delay: 4s; 
  top: 3px; 
}

.item-flow-4 { 
  animation-delay: 6s; 
  top: -3px; 
}

.item-flow-5 { 
  animation-delay: 8s; 
  top: 5px; 
}

.item-flow-6 { 
  animation-delay: 10s; 
  top: -2px; 
}

/* Packing station positions */
.station-1 {
  left: 30%;
}

.station-2 {
  left: 50%;
}

.station-3 {
  left: 70%;
}

/* Decorative element positions */
.decor-top-left {
  top: 10%;
  left: 5%;
}

.decor-top-right {
  top: 15%;
  right: 10%;
}

.decor-mid-left {
  top: 40%;
  left: 8%;
}

.decor-mid-right {
  top: 35%;
  right: 5%;
}

/* Mobile positioning adjustments */
@media (max-width: 768px) {
  .item-flow-4,
  .item-flow-5,
  .item-flow-6 {
    display: none;
  }
  
  .station-2,
  .station-3 {
    display: none;
  }
}

/* Tablet positioning adjustments */
@media (min-width: 769px) and (max-width: 1024px) {
  .item-flow-5,
  .item-flow-6 {
    display: none;
  }
  
  .station-3 {
    display: none;
  }
}
